#less {
  display: none;
}

body {
  background-color: aqua;
  font-family: 'Indie Flower', cursive;
}


.card-body {
  background-color: transparent;
}
/* .card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
  } */
