p{ color:black;
   
}
    .dovt{
        color :red; 
    }
    .like{
        color : green;
    }

    p{ 
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }